<div class="project-component">
  <div class="project-component__header">
    <div class="project-component__header__left">
      <h3 class="project-component__header__item">Projects</h3>
    </div>
    <div class="project-component__header__item">
      <h3 class="project-component__header__text">Issues</h3>
    </div>
  </div>
  <div class="project-component__view">
    <div class="project-component__view__projects">
<!--      <button mat-flat-button (click)="createProject()">Create Project</button>-->
<!--      <button mat-flat-button (click)="deleteAllProjects()">Delete All Projects</button>-->
      @for (project of dataSource.data(); track project.id) {
        <div class="project-component__view__projects__item" routerLink="{{ project.id }}">
          <div class="project-component__view__projects__item__info">
          <p class="project-component__view__projects__item__name">{{ project.code }} - {{ project.name }}</p>
          <p class="project-component__view__projects__item__text">
            Modified: {{ project.modifiedOn.getFullYear }}
          </p>
          </div>
          <div class="project-component__view__projects__item__menu">
<!--            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">-->
<!--              <mat-icon>more_vert</mat-icon>-->
<!--              <mat-menu #menu="matMenu">-->
<!--                <button mat-menu-item (click)="updateProject(project.id)">-->
<!--                  <mat-icon>arrow_upward</mat-icon>-->
<!--                  <span>Update</span>-->
<!--                </button>-->
<!--                <button mat-menu-item (click)="deleteProject(project.id)">-->
<!--                  <mat-icon>delete</mat-icon>-->
<!--                  <span>Delete</span>-->
<!--                </button>-->
<!--              </mat-menu>-->
<!--            </button>-->
          </div>
        </div>
      }
    </div>
    <div class="project-component__issues">
      <router-outlet/>
    </div>
  </div>
</div>


<!--<button mat-button (click)="createProject()">Create Project</button>-->

<!--@for (project of dataSource.$data | async; track project.id) {-->
<!--  <div class="project" routerLink="{{ project.id }}">-->
<!--    <p>{{ project.name }}</p>-->
<!--  </div>-->
<!--}-->
<!--<router-outlet/>-->
