.sign-out {
  display: grid;
  place-items: center;
  height: 200px;

  &__form {
    display: grid;
    grid-template-columns: minmax(50px, 400px);
    height: 200px;
    border: 2px solid var(--mat-sys-on-secondary-container);
    border-radius: 16px;

    &__header {
      display: flex;
      align-items: center;
      background-color: var(--mat-sys-secondary);
      color: var(--mat-sys-on-secondary);
      border-radius: 12px 12px 0 0;
      height: 64px;
      padding-left: 24px;
    }

    &__footer {
      display: flex;
      justify-content: space-between;
    }
  }
}

.sign-out__form > *:not(:first-child) {
  padding: 24px;
}
