//:host {
//  display: grid;
//  justify-items: center;
//  align-items: center;
//}
//.test {
//  display: grid;
//  place-items: center;
//  align-items: center;
//  border: 1px var(--md-sys-on-primary-container) solid;
//  border-radius: 22px;
//  padding: 50px;
//}
.register {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  &__test {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    background-color: var(--mat-sys-secondary);
    color: var(--mat-sys-on-secondary);
  }
  &__form {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    &__body {
      display: grid;
      grid-template-columns: minmax(50px, 464px);
      border: 2px solid var(--mat-sys-on-secondary-container);
      border-radius: 16px;
      &__header {
        display: flex;
        align-items: center;
        background-color: var(--mat-sys-secondary);
        color: var(--mat-sys-on-secondary);
        border-radius: 12px 12px 0 0;
        height: 64px;
        padding-left: 24px;
      }
      &__inputs {
        display: grid;
      }
      &__footer {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}
.register__form__body > *:not(:first-child) {
  padding: 24px;
}

