<div class="register">
  <div class="register__test">
    <h1>OVRIS - Overcome Issues</h1>
  </div>
  <div class="register__form">
    <form class="register__form__body" [formGroup]="loginForm" (ngSubmit)="register()">
      <div class="register__form__body__header">
        <span>Sign in</span>
      </div>
      <div class="register__form__body__inputs">
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput formControlName="email"/>
          @if (email.hasError('required')) {
            <mat-error>Email is <strong>required</strong></mat-error>
          }
          @if (email.hasError('email')) {
            <mat-error>Email is not valid</mat-error>
          }
        </mat-form-field>
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput formControlName="password"/>
          @if (password.hasError('required')) {
            <mat-error>Password is <strong>required</strong></mat-error>
          }
        </mat-form-field>
        <mat-form-field>
          <mat-label>Username</mat-label>
          <input matInput formControlName="username"/>
          @if (password.hasError('required')) {
            <mat-error>Username is <strong>required</strong></mat-error>
          }
        </mat-form-field>
      </div>
      <div class="register__form__body__footer">
        <div class="register__form__body__footer__icon"></div>
        <div class="register__form__body__footer__buttons">
          <button mat-button routerLink="/auth/sign-in">Sign in</button>
          <button mat-flat-button (click)="register()" [disabled]="isInvalidState()">Sign up</button>
        </div>
      </div>
    </form>
  </div>
</div>
