<form class="test" [formGroup]="loginForm" (ngSubmit)="register()">
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput formControlName="email"/>
    @if(email.hasError('required')) {
      <mat-error>Email is <strong>required</strong></mat-error>
    }
    @if(email.hasError('email')) {
      <mat-error>Email is not valid</mat-error>
    }
  </mat-form-field>
  <mat-form-field>
    <mat-label>Password</mat-label>
    <input matInput formControlName="password"/>
    @if(password.hasError('required')) {
      <mat-error>Password is <strong>required</strong></mat-error>
    }
  </mat-form-field>
  <mat-form-field>
    <mat-label>Username</mat-label>
    <input matInput formControlName="username"/>
    @if(password.hasError('required')) {
      <mat-error>Username is <strong>required</strong></mat-error>
    }
  </mat-form-field>
  <button mat-button (click)="register()" [disabled]="isInvalidState()">Register</button>
</form>
