:host {
  //display: grid;
  //grid-template-columns: 200px 1fr;
  display: grid;
  grid-template-columns: [navigation-start] 200px [navigation-end main-start] 1fr [main-end];
  grid-template-rows: [navigation-start header-start] min-content [header-end content-start]
  1fr [content-end];
}
//:host.mobile-layout {
//  display: grid;
//  //grid-template-columns: 1fr;
//  //grid-template-rows: 1fr 62px;
//  grid-template-columns: [navigation-start main-start ] 1fr [navigation-end main-end];
//  grid-template-rows: [header-start] min-content [header-end content-start] 1fr
//  [content-end navigation-start] 62px
//  [navigation-end];
//}

.nav {
  grid-column: navigation;
  grid-row: navigation;
}
.header {
  display: flex;
  width: 100%;
  height: 64px;
  grid-column: main;
  grid-row: header;
}
.content {
  grid-column: main;
  grid-row: content;
}

@media (width < 900px) {
  :host {
    //grid-template-columns: 84px 1fr;
    grid-template-columns: [navigation-start] 84px [navigation-end main-start] 1fr [main-end];
  }
}
@media (width < 400px) {
  :host {
  //  //grid-template-columns: 84px 1fr;
  //  grid-template-columns: [navigation-start] 84px [navigation-end main-start] 1fr [main-end];
  //}
  display: grid;
  //grid-template-columns: 1fr;
  //grid-template-rows: 1fr 62px;
  grid-template-columns: [navigation-start main-start ] 1fr [navigation-end main-end];
  grid-template-rows: [header-start] min-content [header-end content-start] 1fr
  [content-end navigation-start] 62px
  [navigation-end];
}
}


