<h2 mat-dialog-title>Create Issue</h2>
<mat-dialog-content>
  <form class="test" [formGroup]="createForm" (ngSubmit)="onCreate()">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput formControlName="name"/>
      @if(name.hasError('required')) {
        <mat-error>Name is <strong>required</strong></mat-error>
      }
    </mat-form-field>
    <mat-form-field>
      <mat-label>Priority</mat-label>
      <mat-select formControlName="priority">
        @for (priority of priorityes; track priority) {
          <mat-option [value]="priority">{{priority}}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-flat-button (click)="onCreate()" [disabled]="isInvalidState()" cdkFocusInitial>Create</button>
</mat-dialog-actions>
