<div class="issue-component">
  <div class="issue-component__view">
    <div class="issue-component__view__header">
      <div class="issue-component__view__header__headline">
        <h4 class="issue-component__view__header__headline__text">Issues</h4>
      </div>
      <div class="issue-component__view__header__opt">
        <div class="issue-component__view__header__opt__search">
          <input type="text" class="issue-component__view__header__opt__search__input" [(ngModel)]="searchTerm"
                 placeholder="Search">
        </div>
        <div class="issue-component__view__header__opt__options">
          <mat-form-field class="issue-component__view__header__opt__options__multiselect">
            <mat-label>Projects</mat-label>
            <mat-select [formControl]="toppings" multiple>
              @for (project of projectsList; track project.id) {
                <div class="issue-component__view__header__opt__options__multiselect__item">
                  <mat-option [value]="project.id">
                    {{ project.code }}
                  </mat-option>
                  <button mat-button (click)="createIssue(project.id)">Create Issue</button>
                </div>
              }
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div>
      @if (isLoading()) {
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      }
      <div cdkDropListGroup class="issue-component__view__content">
        <div class="example-container">
          <h2>Backlog</h2>
          <div
            cdkDropList
            [cdkDropListData]="issues()"
            id="backlog-list"
            class="example-list"
            (cdkDropListDropped)="drop($event)">
            @if (projectIds.length > 0) {
              @for (item of issues(); track item) {
                @if (item.stage == "Backlog") {
                  <div class="example-box" cdkDrag>
                    <div class="example-box__priority"
                         [ngStyle]="{'background-color': priorityColors[item.priority]}">
                    </div>
                    <div class="example-box__content">
                      <div class="example-box__content__info">
                        <p>{{ item.projectCode }} - {{ item.name }}</p>
                        <p>{{ item.state }}</p>
                      </div>
                      <div class="example-box__content__menu">
                        <button mat-icon-button [matMenuTriggerFor]="menu">
                          <mat-icon>more_vert</mat-icon>
                          <mat-menu #menu="matMenu">
                            <button mat-menu-item (click)="updateIssue(item)">
                              <mat-icon style="color: green;">arrow_upward</mat-icon>
                              <span style="color: green;">Update</span>
                            </button>
                            <button mat-menu-item (click)="deleteIssue(item.id)">
                              <mat-icon style="color: red;">delete</mat-icon>
                              <span style="color: red;">Delete</span>
                            </button>
                          </mat-menu>
                        </button>
                      </div>
                    </div>
                  </div>
                }
              }
            }
          </div>
        </div>
        <div class="example-container">
          <h2>To do</h2>
          <div
            cdkDropList
            [cdkDropListData]="todo()"
            id="todo-list"
            class="example-list"
            (cdkDropListDropped)="drop($event)">
            @if (projectIds.length > 0) {
              @for (item of todo(); track item) {
                @if (item.stage == "ToDo") {
                  <div class="example-box" cdkDrag>
                    <div class="example-box__priority"
                         [ngStyle]="{'background-color': priorityColors[item.priority]}">
                    </div>
                    <div class="example-box__content">
                      <div class="example-box__content__info">
                        <p>{{ item.projectCode }} - {{ item.name }}</p>
                        <p>{{ item.state }}</p>
                      </div>
                      <div class="example-box__content__menu">
                        <button mat-icon-button [matMenuTriggerFor]="menu">
                          <mat-icon>more_vert</mat-icon>
                          <mat-menu #menu="matMenu">
                            <button mat-menu-item (click)="updateIssue(item)">
                              <mat-icon style="color: green;">arrow_upward</mat-icon>
                              <span style="color: green;">Update</span>
                            </button>
                            <button mat-menu-item (click)="deleteIssue(item.id)">
                              <mat-icon style="color: red;">delete</mat-icon>
                              <span style="color: red;">Delete</span>
                            </button>
                          </mat-menu>
                        </button>
                      </div>
                    </div>
                  </div>
                }
              }
            }
          </div>
        </div>
        <div class="example-container">
          <h2>In Progress</h2>
          <div
            cdkDropList
            [cdkDropListData]="inprogress()"
            id="inprogress-list"
            class="example-list"
            (cdkDropListDropped)="drop($event)">
            @if (projectIds.length > 0) {
              @for (item of inprogress(); track item) {
                @if (item.stage == "InProgress") {
                  <div class="example-box" cdkDrag>
                    <div class="example-box__priority"
                         [ngStyle]="{'background-color': priorityColors[item.priority]}">
                    </div>
                    <div class="example-box__content">
                      <div class="example-box__content__info">
                        <p>{{ item.projectCode }} - {{ item.name }}</p>
                        <p>{{ item.state }}</p>
                      </div>
                      <div class="example-box__content__menu">
                        <button mat-icon-button [matMenuTriggerFor]="menu">
                          <mat-icon>more_vert</mat-icon>
                          <mat-menu #menu="matMenu">
                            <button mat-menu-item (click)="updateIssue(item)">
                              <mat-icon style="color: green;">arrow_upward</mat-icon>
                              <span style="color: green;">Update</span>
                            </button>
                            <button mat-menu-item (click)="deleteIssue(item.id)">
                              <mat-icon style="color: red;">delete</mat-icon>
                              <span style="color: red;">Delete</span>
                            </button>
                          </mat-menu>
                        </button>
                      </div>
                    </div>
                  </div>
                }
              }
            }
          </div>
        </div>
        <div class="example-container">
          <h2>Done</h2>
          <div
            cdkDropList
            [cdkDropListData]="done()"
            id="done-list"
            class="example-list"
            (cdkDropListDropped)="drop($event)">
            @if (projectIds.length > 0) {
              @for (item of done(); track item) {
                @if (item.stage == "Done") {
                  <div class="example-box" cdkDrag>
                    <div class="example-box__priority"
                         [ngStyle]="{'background-color': priorityColors[item.priority]}">
                    </div>
                    <div class="example-box__content">
                      <div class="example-box__content__info">
                        <p>{{ item.projectCode }} - {{ item.name }}</p>
                        <p>{{ item.state }}</p>
                      </div>
                      <div class="example-box__content__menu">
                        <button mat-icon-button [matMenuTriggerFor]="menu">
                          <mat-icon>more_vert</mat-icon>
                          <mat-menu #menu="matMenu">
                            <button mat-menu-item (click)="updateIssue(item)">
                              <mat-icon style="color: green;">arrow_upward</mat-icon>
                              <span style="color: green;">Update</span>
                            </button>
                            <button mat-menu-item (click)="deleteIssue(item.id)">
                              <mat-icon style="color: red;">delete</mat-icon>
                              <span style="color: red;">Delete</span>
                            </button>
                          </mat-menu>
                        </button>
                      </div>
                    </div>
                  </div>
                }
              }
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


