<div class="issue__search">
  <input type="text" class="issue__search__input" [(ngModel)]="searchTerm">
  <button mat-button (click)="search()"><mat-icon>search</mat-icon>Search</button>
</div>
<div class="issue__options">
  <button mat-flat-button (click)="createIssue()">Create Issue</button>
  <button mat-button [matMenuTriggerFor]="menu">SortDir</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="sortDirAscending()">Ascending</button>
    <button mat-menu-item (click)="sortDirDescending()">Descending</button>
  </mat-menu>
  <button mat-button [matMenuTriggerFor]="menu">SortBy</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="sortByAscending()">Updated</button>
    <button mat-menu-item (click)="sortByDescending()">Descending</button>
  </mat-menu>
</div>
<div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
  @for (issue of issues(); track issue.id) {
    <div class="example-box" cdkDrag>
      <div class="example-box__priority" [ngStyle]="{'background-color': priorityColors[issue.priority]}"></div>
      <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
      <div class="example-box__info">
        <p>{{issue.code }} - {{ issue.name }}</p>
        <p>{{issue.createdOn.split('.')[0].split('T')[0]}} {{issue.createdOn.split('.')[0].split('T')[1]}}</p>
      </div>
      <div class="example-box__menu">
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon>more_vert</mat-icon>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="updateIssue(issue.id)">
              <mat-icon>arrow_upward</mat-icon>
              <span>Update</span>
            </button>
            <button mat-menu-item (click)="deleteIssue(issue.id)">
              <mat-icon>delete</mat-icon>
              <span>Delete</span>
            </button>
          </mat-menu>
        </button>
      </div>
    </div>
  }
</div>

