$min-height: 100px;
$border-radius: 20px;

.issue-component {
  display: grid;
  padding-inline: 50px;

  &__view {
    display: grid;
    gap: 30px;

    &__header {
      display: grid;
      align-items: center;
      height: auto;

      &__headline {
        background-color: var(--mat-sys-primary);
        border-radius: 20px 20px 0px 0px;
        padding: 10px;
        font-size: 18px;
        height: 32px;

        &__text {
          color: var(--mat-sys-on-primary);
        }
      }

      &__opt {
        display: grid;
        gap: 16px;
        background-color: var(--mat-sys-surface);
        padding: 10px;
        border-radius: 0px 0px 20px 20px;

        &__search {
          display: grid;
          grid-template-columns: 1fr;
          gap: 16px;
          justify-content: space-between;

          &__input {
            position: relative;
            isolation: isolate;
            overflow: hidden;

            border-radius: var(--mat-sys-corner-extra-large);
            background-color: var(--mat-sys-surface-container-high);

            &:hover {
              --_state-layer-opacity: var(--mat-sys-hover-state-layer-opacity);
            }

            &::after {
              content: '';
              position: absolute;
              inset: 0;
              z-index: -1;
              background-color: currentColor;
              border-radius: inherit;
              transition: opacity 150ms linear;

              opacity: var(--_state-layer-opacity, 0);
            }
            &__prefix {
              margin-left: 4px;
            }

            &__suffix {
              margin-right: 8px;
            }
          }
        }

        &__options {
          &__multiselect {
            width: 100%;

            &__item {
              display: grid;
              grid-template-columns: minmax(100px, 1fr) minmax(10px, 150px);
            }
          }
        }
      }
    }

    &__content {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 24px;
      min-height: 400px;
    }
  }
}

.example-container {
  display: inline-block;
  max-width: 400px;
  min-width: 110px;
  padding: 8px;
  background-color: var(--mat-sys-secondary);
  color: var(--mat-sys-on-secondary);
  border-radius: 16px;
}

.example-list {
  display: grid;
  gap: 4px;
  min-height: 60px;
  border-radius: 4px;
  overflow: hidden;
}

.example-box {
  display: grid;
  grid-template-columns: 12px 1fr;
  gap: 4px;
  border-bottom: solid 1px #ccc;
  color: var(--mat-sys-on-primary-fixed);
  align-items: center;
  box-sizing: border-box;
  cursor: move;
  background-color: var(--mat-sys-primary-fixed-dim);
  font-size: 14px;
  border-radius: 16px;

  &__priority {
    height: 100%;
    border-radius: 16px 0px 0px 16px;
  }

  &__content {
    display: flex;
    justify-content: space-between;

    &__menu {
      display: flex;
      align-items: center;
    }
  }
}

.cdk-drag-preview {
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: hidden;
  border-radius: 16px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}


@media (width < 700px) {
  .issue-component {
    padding-inline: 0px;

    &__view {
      &__content {
        grid-template-columns: 1fr 1fr;
        min-height: 200px;
      }
    }
  }
}

@media (width < 300px) {
  .issue-component {
    &__view {
      &__content {
        grid-template-columns: min-content;
        min-height: 200px;
      }
    }
  }
  .example-box {
    &__content {

    }
  }
}


.search {

}
