<div class="issue-component">
  <div class="issue-component__view">
    <div class="issue-component__view__issues">
      <div class="issue-component__view__issues__header">
        <h4>Issues</h4>
      </div>
      <div class="issue-component__view__issues__search">
        <input type="text" class="project-component__view__projects__search__input" [(ngModel)]="searchTerm">
        <button mat-button (click)="search()"><mat-icon>search</mat-icon>Search</button>
      </div>
      <div class="issue-component__view__issues__content">
        <mat-form-field>
          <mat-label>Toppings</mat-label>
          <mat-select [formControl]="toppings" multiple>
            @for (topping of toppingList; track topping) {
              <mat-option [value]="topping">{{topping}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
</div>


