
<div class="navigation-driver">
  <div class="navigation-driver__main">
    <div class="navigation-driver__main__item-headline">
      <span class="navigation-driver__main__item-headline__text">Mail</span>
    </div>
    <div class="navigation-driver__main__item-main">
      <div class="navigation-driver__main__item-main__left">
<!--        <mat-icon>task_alt</mat-icon>-->
        <span class="navigation-driver__main__item-main__left__icon material-symbols-outlined">Inbox</span>
        <span class="navigation-driver__main__item-main__left__text">Inbox</span>
<!--        <a mat-list-item routerLink="/projects">Projects <mat-icon>task_alt</mat-icon></a>-->
      </div>
    </div>
    <div class="navigation-driver__main__item-main">
      <div class="navigation-driver__main__item-main__left">
        <span class="navigation-driver__main__item-main__left__icon material-symbols-outlined">Send</span>
        <span class="navigation-driver__main__item-main__left__text">Outbox</span>
      </div>
    </div>
    <div class="navigation-driver__main__item-main">
      <div class="navigation-driver__main__item-main__left">
        <span class="navigation-driver__main__item-main__left__icon material-symbols-outlined">Favorite</span>
        <span class="navigation-driver__main__item-main__left__text">Favorites</span>
      </div>
    </div>
    <div class="navigation-driver__main__item-main">
      <div class="navigation-driver__main__item-main__left">
        <span class="navigation-driver__main__item-main__left__icon material-symbols-outlined">Delete</span>
        <span class="navigation-driver__main__item-main__left__text">Trash</span>
      </div>
    </div>
  </div>
</div>
