@use 'theme-colors' as test_theme;
@use '@angular/material' as mat;

.project-component__view__projects > *:not(:first-child) {
  padding: 10px;
}

.project-component {
  display: grid;
  padding-inline: 50px;
  &__view {
    display: grid;
    gap: 30px;
    &__projects {
      display: grid;
      grid-template-columns: 1fr;
      //background-color: var(--md-sys-surface);
      background-color: var(--mat-sys-surface);
      border-radius: 20px;
      &__header {
        display: grid;
        align-items: center;
        height: 32px;
        //background-color: var(--md-sys-secondary);
        background-color: var(--mat-sys-primary);
        //color: var(--md-sys-on-surface);
        border-radius: 20px 20px 0px 0px;
        padding: 10px;
        font-size: 18px;
        &__text {
          color: var(--mat-sys-on-primary);
        }
      }

      &__search {
        display: grid;
        grid-template-columns: 1fr minmax(10px, 100px);
        gap: 16px;
        justify-content: space-between;
        &__input {
          border-radius: 16px;
          height: 24px;
        }
      }
    }
  }
  &__issues {
    margin-right: 30px;
    padding: 10px;
    background-color: var(--md-sys-surface);
    border-radius: 20px;
  }
}
p {
  margin: 0;
  padding: 5px;
}
@media (width < 890px) {
  .project-component {
    &__header {
      display: none;
    }
    &__view {
      display: grid;
      grid-template-columns: 1fr;
    }
  }
}
@media (width < 460px) {
  .project-component {
    &__view {
      &__projects {
        &__search {
          display: grid;
          grid-template-columns: 1fr;
        }
      }
    }
  }
}
