@use 'theme-colors' as test_theme;
@use '@angular/material' as mat;
.project-component {
  display: grid;
  margin-left: 14px;
  &__header {
    display: grid;
    grid-template-columns: minmax(50px, 300px) 1fr;
    &__item {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  &__view {
    display: grid;
    grid-template-columns: minmax(50px, 300px) 1fr;
    gap: 30px;
    &__projects {
      padding: 10px;
      background-color: var(--md-sys-surface);
      border-radius: 20px;
      &__item {
        display: grid;
        grid-template-columns: 1fr 40px;
        min-height: 120px;
        padding: 5px;
        border: 1px solid #000000;
        border-radius: 20px;
        margin-top: 12px;
        background-color: var(--md-sys-primary);
        &__menu {
          display: grid;
          place-items: center;
        }
      }
    }
  }
  &__issues {
    margin-right: 30px;
    padding: 10px;
    background-color: var(--md-sys-surface);
    border-radius: 20px;
  }
}
p {
  margin: 0;
  padding: 5px;
}
